<div class="container-fluid" style="background-image:url('/buaAnDinhDuong'); background-repeat:no-repeat;background-size:contain; background-position:right">
           

    <div class="d-flex justify-content-center">
        <h2 class="display-4 text-title" style="font-size: 36px;">Bữa ăn dinh dưỡng</h2>
        <a name="next"></a>
    </div>
   
    <div class= "d-flex justify-content-center">
        <h5 class="text-gray-soft text-regular" style="margin-bottom:50px">(cho Trophic biết thực phẩm bữa ăn của bạn)</h5>
    </div>
    <!-- <div class="d-flex justify-content-center">
        
            <img src="/buaAnDinhDuong" class="img-responsive" style="margin-bottom:50px" alt="Image" height="200px">
            
        </div> -->
    <div class="d-flex justify-content-center">
        <form action="/food_tonghop" method="POST" class="form-inline" role="form">
            <div class="d-flex flex-column">
                <div class="p-2"><div class="form-group">
                        <div class="d-flex justify-content-center">
                            <div class="rounded-left">
                                <input type="text" name="name" class="form-control form-control-lg mr-sm-2" placeholder="thịt bò, rau muống, cơm,..." style="border-radius:25px; width:30rem">
                            </div>
                        </div>   
                    </div></div>
                <div class="p-2"> 
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-lg btn-success my-4" type="submit" style="border-radius:25px">Kiểm tra</button>
                    </div>
                </div>
            </div>
                
        </form>
    </div>
           


            
           
            
    </div>
</div>