<div class="container" style="padding-top:30px">
    <div class="d-flex justify-content-center">
        
        <img src="/nutri"  alt="Image" height="150px">
    </div>
    <br>
    <div class="d-flex justify-content-center">
        
        <h1 class="display-4 text-bold">Tra cứu dinh dưỡng</h1>
    </div>
    <br><br>
       
    <div class= "d-flex justify-content-center">
        <form action="/food_search" method="POST" class="form-inline my-4 my-lg-2">
            
                <input class="form-control form-control-lg mr-sm-2 " name="name" style="border-radius:25px" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-lg btn-outline-success text-center my-4 my-sm-0" style="border-radius:25px" type="submit">Search</button>
        </form>
                
</div>
<div class= "d-flex justify-content-center">
                <h5 class="text-gray-soft text-regular">Gợi ý: "thit bo", "vitamin A",...</h5>
    </div>
   
    <!-- <div class="d-flex justify-content-center" style="margin-top:20px">
            <a href="#next" class="rounded-circle" ><i class="material-icons display-4" style="font-size:50px; color:#28a745">arrow_downward</i></a>

    </div> -->
</div>