<nav class="navbar navbar-expand-lg navbar-light  navbar-static-top" role="navigation" style="height:80px">
        <div class="container">
          <ul class="nav-left">
              <nav class="navbar navbar-light">
                  <a class="navbar-brand" href="/home">
                    <b class="display-4" style="font-size:32px"><strong>TROPHIC</strong></b>
                  </a>
              </nav>
          </ul>
          <ul class="nav-right">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/home"><b>TRANG CHỦ</b><span class="sr-only">(current)</span></a>
                    </li>
                
                    <li class="nav-item dropdown" >
                      <a class="nav-link dropdown-toggle" href="/thucPham" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        THỰC PHẨM
                      </a>
                      <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/thucPham/chatBeo">Chất béo</a>
                        <div class="dropdown-divider" style="margin-left:20px; margin-right:20px"></div>
                        <a class="dropdown-item" href="/thucPham/chatDam">Chất đạm</a>
                        <div class="dropdown-divider" style="margin-left:20px; margin-right:20px"></div>
                        <a class="dropdown-item" href="/thucPham/chatBotDuong">Chất bột đường</a>
                        <div class="dropdown-divider" style="margin-left:20px; margin-right:20px"></div>
                        <a class="dropdown-item" href="/thucPham/vitamin&kc">Vitamin & Khoáng chất</a>
                        </div>
                    </li>
                   

                       
                </ul>
                 
            </div>
          </ul>
       </div>
        
</nav>