<div class= "d-flex justify-content-center">
        <form action="/search" method="POST" class="form-inline my-4 my-lg-2">
            
                <input class="form-control form-control-lg mr-sm-2 " style="border-radius:25px" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-lg btn-outline-success text-center my-4 my-sm-0" style="border-radius:25px" type="submit">Search</button>
        </form>
                
               
    </div>